.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding-bottom: 1rem;
}

.pagination_btn_cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.col_accent {
  color: var(--color-accent);
}

/* Browse Collection */
.browse_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: calc(var(--spacing-default) * 2);
  padding-inline: var(--spacing-default);
}
.browse_txt {
  font-size: 1.75rem;
  color: var(--color-text-dark);
  text-overflow: ellipsis;
}
.filter_icon {
  width: 1.35rem;
}

/* Modal */
.modal_box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.filter_txt {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--color-accent);
}

@media only screen and (max-width: 800px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
