.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.pagination_btn_cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Browse Collection */
.browse_cont {
  display: flex;
  justify-content: space-between;
  margin-block: calc(var(--spacing-default) * 2);
  padding-inline: var(--spacing-default);
}
.browse_txt {
  font-size: 1.75rem;
  color: var(--color-text-dark);
  text-overflow: ellipsis;
}
.filter_icon {
  width: 1.35rem;
}

/* Modal */
.modal_cont {
  transition: all 0.25s;
  width: calc(100vw - 5px);
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  overflow: hidden;
}

.modal_box {
  color: var(--color-text-dark);
  padding: 1rem;
  background-color: var(--color-background-dark);
  border: 1px solid #252525;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media only screen and (max-width: 800px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
